.App {
  max-width:400px;
  margin:0 auto;
}

header{
  border-bottom: 1px solid #000;
  margin-bottom:20px;
}

h1 {
  text-align:center;
  font-size:25px;
  margin-top:25px;
  padding-bottom: 10px;
}

h2 {
  text-align:center;
  font-size:18px;
}

table {
  width: 100%;
}

table th {
  text-align: left;
  padding-bottom:5px;
}

table td {
  padding:3px 0;
}